/* 
====== 
Google Font (Sofia Sans)
======
*/
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Dosis:wght@300&display=swap');

/* 
====== 
Variables 
======
*/
:root {
  --orange: #E2B659;
  --cream: #FFEECA;
  --light-cream: #f7f2e6;
  --brown: #9D8453;
  --green: #009D7C;
  --greenDark: #4B8178;
  --white: rgb(251, 251, 253);
  --charcoal: #36454f;
  --transition: all .3s linear;
  --clr-primary: #645cff;
  --clr-primary-light: #a29dff;
  --clr-white: #fff;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
}

/* 
====== 
Global Styles 
======
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Dosis', sans-serif;
}

body {
  background-color: var(--cream);
}


/* 
====== 
Home Page
======
*/
.home-page {
  height: 100vh;
  background-color: var(--cream);
}
.actions {
  display: block;
  margin: auto; 
  margin-top: 5rem;
  height: 3rem;
  text-align: center;
}
.search-name {
  height: 3rem;
  border-radius: 2rem;
  border: .1rem var(--orange) solid;
  font-size: 1rem;
  padding-left: .5rem;
  color: var(--charcoal);
  opacity: .8;
}
.search-occupation {
  height: 3rem;
  border-radius: 2rem;
  border: .1rem var(--orange) solid;
  font-size: 1rem;
  padding-left: .5rem;
  margin-left: 1rem;
  color: var(--charcoal);
  opacity: .8;
}
.search-name:focus,
.search-occupation:focus{
  outline: none !important;
  border: .1rem var(--orange) solid;
  opacity: 1;
}
.export-pdf {
  height: 3rem;
  width: 8rem;
  border: none;
  margin-left: 2rem;
  border-radius: 1rem;
  background-color: var(--orange);
  cursor: pointer;
  padding: .2rem;
  font-weight: 1rem;
  box-shadow: -3px 2px 13px 0px rgba(79, 74, 79, 1);
  font-size: 1rem;
  letter-spacing: .05rem;
}
.counter {
  margin-top: 2rem;
  text-align: center;
}
.card-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 4rem 0 0 5rem;
}
.card {
  position: relative;
  height: 5rem;
  width: 25rem;
  background-color: var(--orange);
  margin-top: 1rem;
  border-radius: .5rem;
  border: .1rem var(--brown) solid;
}
.card:hover {
  box-shadow: 10px 10px 13px -9px rgba(0, 0, 0, 0.75);
  transition: var(--transition);
  transition-duration: 1s;
}
.card:last-child {
  margin-bottom: 3rem;
}
.card > h3,
.card>h4,
 .card>p {
  text-transform: capitalize;
  margin-left: 2rem;
  color: var(--charcoal);
}
.card>h3 {
  font-size: 1.5rem;
}
.card>h4 {
  font-size: .8rem;
}
.card>p {
  margin-top: 1rem;
}
.edit-link {
  color: var(--charcoal);
}
.edit-icon {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  cursor: pointer;
}
.card > h3 {
  margin-top: 1rem;
}

/* 
====== 
Edit Page
======
*/
.edit-page {
  height: 100vh;
  background-color: var(--orange);
  background-position: center;
  background-size: cover;
}
.form {
  position: relative;
  display: inline-block;
  height: 70vh;
  width: 50vw;
  margin: 10vh 0 0 25vw;
  border-radius: .5rem;
  box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
}
.edit-form {
  display: inline-block;
  width: 70%;
  background-color: var(--cream);
  height: inherit;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}
.edit-form > h1 {
  color: var(--charcoal);
  text-transform: uppercase;
  text-align: center;
  margin-top: 1.5rem;
}
.form-side {
  position: absolute;
  display: inline-block;
  background-image: url('./images/orange-background.jpg');
  background-position: center;
  background-size: cover;
  height: inherit;
  top: 0;
  width: 30%;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}
.input {
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  height: 2rem;
  border-radius: .3rem;
  font-size: 1rem;
  border: .1rem var(--brown) solid;
  padding-left: 1rem;
  opacity: .8;
}
.input .name {
  margin-top: 5rem;
}
.input:focus,
.bio:focus {
  outline: none !important;
}
.bio {
  display: block;
  margin: auto;
  margin-top: 2rem;
  border-radius: .3rem;
  font-size: 1rem;
  border: .1rem var(--brown) solid;
  padding: .1rem 0 0 .5rem;
  padding-left: 1rem;
  opacity: .8;
  width: 70%;
}
.button-submit {
  display: block;
  height: 3rem;
  width: 10rem;
  margin: auto ;
  margin-top: 2rem;
  transition: var(--transition);
  letter-spacing: .25rem;
  font-size: 1rem;
  border-radius: 2rem;
  border: .1rem var(--greenDark) solid;
  opacity: .8;
}
.button-submit:hover {
  background-color: var(--green);
  transition-delay: .1s;
  cursor: pointer;
  color: var(--white);
}

/* 
====== 
Modal
======
*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: var(--light-cream);
  width: 80vw;
  max-width: 400px;
  border-radius: var(--radius);
  padding: 2rem 1rem;
  text-align: center;
}

.modal h4 {
  margin: 0;
  line-height: 1.5;
}
.file-input {
  height: 2.5rem;
  margin-top: 1rem;
  padding-left: .5rem;
  border-radius: var(--radius);
  border: 1px var(--brown) solid;
  color: var(--charcoal);
  opacity: .7;
}
.file-input:focus {
  outline: none !important;
}
.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}
.clear-btn,
.confirm-btn {
  background: transparent;
  padding: 0.5rem 1rem;
  color: var(--clr-red-dark);
  border: 1px solid var(--clr-red-dark);
  margin-top: 2.25rem;
  border-radius: var(--radius);
}

.clear-btn:hover {
  background: var(--clr-red-light);
  color: var(--cream);
  border-color: var(--clr-red-light);
}

.confirm-btn {
  border-color: var(--clr-primary);
  color: var(--clr-primary);
}
.confirm-btn:hover {
  border-color: var(--clr-primary);
  color: var(--cream);
}
.modal .clear-btn,
.modal .confirm-btn {
  margin-top: 1rem;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1500px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
.bio,
.input {
  width: 80%;
}
}

@media screen and (max-width: 969px) {
  .card-grid {
    grid-template-columns: 1fr;
    padding-left: 10vw;
  }
  .card {
    display: block;
    margin-left: 0;
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .search-name,
  .search-occupation,
  .export-pdf {
    display: block;
    width: 60vw;
    margin: auto;
  }
    .search-occupation,
        .export-pdf {
      margin-top: 1rem;
    }
  .search-name {
    display: block;
  }
  .counter {
    margin-top: 10rem;
  }
  .card-grid {
    padding-top: 2rem;
  }
  .form {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
  .edit-form{
    width: 90%;
    border-radius: 0;
  }
  .form-side {
    width: 10%;
    border-radius: 0;
  }
    .bio,
    .input {
      margin-top: 3rem;
    }
    .input {
      height: 2.5rem;
    }
    .bio {
      height: 8rem;
    }
}
